<!doctype html>
<html lang="en">

<head>
    <title>My Pokémon Team</title>
    <!-- Vue -->
    <script src="./vue-js/vue.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="jumbotron" id="intro">
        <h1 class="display-3">My Pokemon Team</h1>
        <p class="lead">Add Pokémon</p>
        <hr class="my-2">
        <form>
            <!-- Tarefa-->
            <label for="pokeName">Pokémon:</label>
            <input id="pokeName" v-model="name">
            <label for="txtPhoto">Image:</label>
            <input id="txtPhoto" type="text" v-model="photo">
            <br>
            <br>
            <!-- GÉNERO -->
            <p>Types:</p>
            <input type="checkbox" value="Water" v-model="checkedTypes"> Water
            <input type="checkbox" value="Fire" v-model="checkedTypes"> Fire
            <input type="checkbox" value="Grass" v-model="checkedTypes"> Grass
            <input type="checkbox" value="Electric" v-model="checkedTypes"> Electric
            <input type="checkbox" value="Faity" v-model="checkedTypes"> Fairy
            <input type="checkbox" value="Poison" v-model="checkedTypes"> Poison
            <input type="checkbox" value="Rock" v-model="checkedTypes"> Rock
            <input type="checkbox" value="Ground" v-model="checkedTypes"> Ground
            <input type="checkbox" value="Dark" v-model="checkedTypes"> Dark
            <input type="checkbox" value="Ghost" v-model="checkedTypes"> Ghost
            <input type="checkbox" value="Psychic" v-model="checkedTypes"> Psychic
            <input type="checkbox" value="Normal" v-model="checkedTypes"> Normal
            <input type="checkbox" value="Bug" v-model="checkedTypes"> Bug
            <input type="checkbox" value="Flying" v-model="checkedTypes"> Flying
            <input type="checkbox" value="Dragon" v-model="checkedTypes"> Dragon
            <input type="checkbox" value="Ice" v-model="checkedTypes"> Ice
            <input type="checkbox" value="Steel" v-model="checkedTypes"> Steel
            <input type="checkbox" value="Fighting" v-model="checkedTypes"> Fighting
            <br>
            <br>
            <p class="lead">Moves:</p>
            <label for="moveOne">Move 1:</label>
            <input id="moveOne" v-model="one">
            <label for="moveTwo">Move 2:</label>
            <input id="moveTwo" v-model="two">
            <label for="moveThree">Move 3:</label>
            <input id="moveThree" v-model="three">
            <label for="moveFour">Move 4:</label>
            <input id="moveFour" v-model="four">
            <br>
            <br>
            <button v-on:click="addPokemon()" class="btn btn-primary">ADD POKÉMON</button>
            <br>
            <br>


        </form>
        <div>
            <p class="lead">FILTERS:</p>
            <button @click="orderByPoke" class="btn btn-primary">ALPHABETICAL ORDER</button>
            <button v-on:click="filterPokes('qwd')" class="btn btn-primary">TEAMS FROM LISBOA</button>
        </div>
        <hr class="my-2">
        <div class="row">
            <pokemons-card v-for="p in pokemons" v-bind:pokemon="p">
            </pokemons-card>

        </div>
    </div>
    <!-- Optional JavaScript -->
    <script src="poke.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>